<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="adv_menu_root" name="Adv MCP" sequence="90" groups="advanced_mcp_server.group_adv_user" web_icon="advanced_mcp_server,static/description/icon.png" />
    <menuitem id="adv_menu_config" name="Configuration" parent="adv_menu_root" sequence="10" groups="advanced_mcp_server.group_adv_admin" />
    <menuitem id="adv_menu_gateway_cfg" name="Gateway" parent="adv_menu_config" action="action_adv_server_config" sequence="5" groups="advanced_mcp_server.group_adv_admin" />
    <menuitem id="adv_menu_access" name="Module Access" parent="adv_menu_config" action="action_adv_module_access" sequence="10" groups="advanced_mcp_server.group_adv_admin" />
    <menuitem id="adv_menu_tools" name="Custom Tools" parent="adv_menu_config" action="action_adv_custom_tool" sequence="20" groups="advanced_mcp_server.group_adv_admin" />
    <menuitem id="adv_menu_logs" name="Events" parent="adv_menu_root" action="action_adv_audit_log" sequence="20" groups="advanced_mcp_server.group_adv_admin" />
    <menuitem id="adv_menu_oauth" name="OAuth" parent="adv_menu_root" sequence="30" groups="advanced_mcp_server.group_adv_admin" />
    <menuitem id="adv_menu_oauth_clients" name="Clients" parent="adv_menu_oauth" action="action_adv_oauth_clients" sequence="10" groups="advanced_mcp_server.group_adv_admin" />
    <menuitem id="adv_menu_oauth_tokens" name="Tokens" parent="adv_menu_oauth" action="action_adv_oauth_tokens" sequence="20" groups="advanced_mcp_server.group_adv_admin" />
</odoo>
